# Serveur
PORT=8091
ENV=development

# Persistance
STORE_PATH=data/boards.json

# CORS
ALLOWED_ORIGINS=http://localhost:4200,http://localhost:4201,http://localhost:8091
ALLOWED_HEADERS=Content-Type,Authorization,Apollo-Require-Preflight,X-Requested-With,Accept,Origin
