<section class="whiteboard-shell" *ngIf="board$ | async as board">
  <header class="toolbar">
    <h3>Board: {{ board.id }}</h3>
    <div class="toolbar-actions">
      <button type="button" (click)="zoomOut()">-</button>
      <button type="button" (click)="resetZoom()">{{ zoomPercent() }}%</button>
      <button type="button" (click)="zoomIn()">+</button>
      <button
        type="button"
        *ngFor="let definition of availableWidgets"
        [disabled]="!boardReady()"
        (click)="addWidget(definition.type)"
      >
        + {{ definition.name }}
      </button>
    </div>
  </header>
  <p class="error-banner" *ngIf="!boardReady()">
    Board is read-only until data is loaded.
  </p>
  <p class="error-banner" *ngIf="loadError$ | async as loadError">
    Load error: {{ loadError }}
  </p>
  <p class="error-banner" *ngIf="saveError$ | async as saveError">
    Save error: {{ saveError }}
  </p>

  <div class="board-layout">
    <app-widget-canvas
      #canvasRef
      [widgets]="board.widgets"
      [frameOverrides]="frameOverrides"
      [selectedWidgetId]="selectedWidget()?.id ?? null"
      [zoom]="zoom"
      [editable]="boardReady()"
      [zoomIndicatorVisible]="zoomIndicatorVisible"
      [zoomIndicatorX]="zoomIndicatorX"
      [zoomIndicatorY]="zoomIndicatorY"
      (canvasClick)="clearSelection()"
      (canvasWheel)="onCanvasWheel($event)"
      (canvasContextMenu)="closeContextMenu($event)"
      (selectWidget)="selectWidget($event)"
      (openWidgetContextMenu)="onWidgetContextMenu($event)"
      (startDrag)="onStartDragRequest($event, board.widgets)"
      (startResize)="onStartResizeRequest($event)"
      (updateText)="onWidgetTextChange($event)"
    ></app-widget-canvas>

    <aside class="side-panel">
      <app-layer-list
        [widgets]="board.widgets"
        [selectedWidgetId]="selectedWidget()?.id ?? null"
        [definitions]="availableWidgets"
        (selectWidget)="selectWidget($event)"
        (openContextMenu)="openWidgetContextMenuFromLayer($event)"
      ></app-layer-list>

      <ng-container *ngIf="selectedWidget() as selected; else noSelectedWidget">
        <app-widget-config-panel
          [selectedWidget]="selected"
          [widgetCount]="board.widgets.length"
          [layerPosition]="selectedLayerPosition(board, selected.id)"
          [chartTypes]="chartTypes"
          [definitions]="availableWidgets"
          [editable]="boardReady()"
          (action)="onContextMenuAction({ widgetId: selected.id, action: $event })"
          (updateText)="updateText(selected.id, $event)"
          (updateChartType)="updateChartType(selected.id, $event)"
          (updateCounterLabel)="updateCounterLabel(selected.id, $event)"
          (updateCounterValue)="updateCounterValue(selected.id, $event)"
          (imageSelected)="updateImageFromFile(selected.id, $event)"
        ></app-widget-config-panel>
      </ng-container>
      <ng-template #noSelectedWidget>
        <app-widget-config-panel
          [widgetCount]="board.widgets.length"
          [layerPosition]="0"
          [chartTypes]="chartTypes"
          [definitions]="availableWidgets"
          [editable]="boardReady()"
        ></app-widget-config-panel>
      </ng-template>
    </aside>
  </div>

  <app-widget-context-menu [menu]="contextMenu" (action)="onContextMenuAction($event)"></app-widget-context-menu>
</section>
