.context-menu {
  position: fixed;
  z-index: 40;
  min-width: 170px;
  background: var(--theme-toolbar-background-color);
  border: 1px solid var(--theme-toolbar-border-color);
  border-radius: 6px;
  backdrop-filter: blur(2px);
  padding: 6px;
  display: grid;
  gap: 4px;
}

.context-menu button {
  text-align: left;
  border: 0;
  border-radius: 6px;
  background: var(--theme-section-header-background);
  color: var(--theme-toolbar-color);
  padding: 8px 10px;
  transition: all 0.2s ease;
}

.context-menu button:hover {
  background: var(--theme-section-header-background-hover);
}

.context-menu .danger-action {
  color: var(--whiteboard-danger);
}
